img{
    width: 300px;
    padding-right: 0px;
    margin-right: 0px;

}
body{
    background-color: #005555;
    padding: 0px;
    margin: 0px;
    font: helvetica;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #069A8E;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
}
.container {
    position: relative;
    width:300px;
    display: flex;
    justify-content:center;
}
.text{
    color: #A1E3D8;
    font-size: 1em;
    font: helvetica;

  }
.titel{
    color: #a1e3d8;
    font-size: 2em;
    justify-content: center;
    display: flex;
}
.flexbox{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
h1{
    color: #A1E3D8;
}
.navbar{
    width: 100%;
    height: 3em;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:  #069A8E;
    font-size: 20px;
    font: helvetica;
    padding-left: 20px;
    margin-right: 20px;
    
}   